<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="refresh" content="3;url=./"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>My Coin: <font size=20><b> <%= abc %></b></font></p>
    
  </body>
</html>
