<!DOCTYPE html>
<html>
<head>
  <meta charset-"utf8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="./uuu.css">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="form">
<%if (error) { %>
  <h4> <%= error %> </h4>
<% } %>

<div class="container">
  <p>Login Page</p>
  <p class="lead">Welcome to HouseRenting System.</p><br/>
  <form role="form" action="/login" method="post" style="max-width: 300px;">
    <div class="form-group">
      <input type="text" name="username" placeholder="Enter Username" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="Password" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-default">Login</button>&nbsp;<a href="/">
      <button type="button" class="btn btn-primary">Cancel</button></a>
  </form>
  </div>
</div>

</body>
</html>