<!DOCTYPE html>
<html>
  <head>
  	<meta charset-"utf8">
	<title></title>
  <link rel="stylesheet" type="text/css" href="./uuu.css"> 
   
  </head>
  <body>
  <div class="form">
  <input type="button" value="Homepage" onclick="self.location.href='/'"/>
  <% for(var i=0; i<users.length; i++) { %>
    <% if(users[i].rental){ %>
       <p> -----------------------
         Name : <%= users[i].username %><br>   
		   	 RentValue : <%= users[i].rental %> <br> 
		   	 Footage : <%= users[i].size %>   
        </p>
    <% } %>
       
    <% } %>
    </div>
  </body>
</html>

