<!DOCTYPE html>
<html>
  <head>
  	<meta charset-"utf8">
	<title></title>
    
   
  </head>
  <body>

  <% for(var i=1; i<users.length; i++) { %>
       <p> Your name is <%= users[i].username %></p>   
		<p>	Your address is <%= users[i].address %>  </p>
		<p>	Your phonenumber is <%= users[i].phonenum %>   </p>
       
    <% } %>
  </body>
</html>
